<h2>Update the drone</h2>
<div>
    <h3>{{drone.name}}</h3>
    <form method="POST" action="/drones/{{drone.id}}/edit">
        <input type="text" name="name" placeholder="Name" value="{{drone.name}}" />
        <input type="number" name="propellers" placeholder="# of propellers" value="{{drone.propellers}}" />
        <input type="number" name="maxSpeed" placeholder="Max speed" value="{{drone.maxSpeed}}" />

        <button>
            Submit
        </button>
    </form>

</div>